body{
    background-color: black;
    display: grid;
    justify-content:center;
    color: white;
}
a:link{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    text-decoration: none;
    color:white;
}

#cafeLogoBig{
    padding: 5px;
    border: solid white 4px;
    margin-left: 5px;

}

#navBar{
    background-color: black;
    display: inline-block;
    word-spacing: 30px;
    justify-content: center;
    margin-top: 5px;
    color:white;
    font-family: 'Gulzar', cursive;
    margin:10px;
    padding:10px;
    /* align-items: stretch; */
}

#navBar-content {
    display: none;
    position: absolute;
    background-color: white;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

#navBar:hover .navBar-content {
    display: block;
  }

#mainContainer{
    display: grid;
    justify-content: center;
}

#homeBodyContainer{
    background-color: white;
    color: black;
    width: 440px;
    height: 300px;
    border-radius: 5px;
}



hr{
    color:white;
    width: 100%;
    background-color: white;
}

footer{
    background-color: black;
    color: white;
    font-family: 'Gulzar', cursive;
    font-size: 24px;
    height: 50px;
    padding-top: 0px;
    display: grid;
    justify-content: center;
  
  }

  /* this is where the reservation page starts */

  #formContainer{
    display: flex;
    justify-content: center;
    background-color:red;
    width: 440px;
    height: 300px;
    line-height: 140%;

  }