body{
    background-color: black;
    display: grid;
    justify-content:center;
    color: white;
    font-family: 'Gulzar', cursive;
    font-size: 12px;
}
li{
  font-weight: bold;
  list-style-type: none;
  font-size:14px;
  text-decoration: underline;
  text-decoration-color:red;
  font-family: 'Gulzar', cursive;
}
h1{
  font-family: 'Gulzar', cursive;
  text-align: center;
}
a:link{
    text-decoration: none;
    color:white;
    transition: all 0.5s ease-out;
}
a:hover{
    text-decoration: underline;
    text-decoration-color:red;
}

a:visited{
    text-decoration: underline;
    text-decoration-color:red;
    color:white;
}

#cafeLogoBig{
    padding: 5px;
    border: solid white 4px;
    margin-left: 5px;
  

}
#telephone{
  color:white;
  background-color:red;
  display: flex;
  justify-content: center;
  position: relative;
  left: 0.5%;
  top:-5vh;
  margin:0px;
  padding:0px;
  height: 0px;
}

#navBar{
    background-color: black;
    display: inline-block;
    word-spacing: 40px;
    justify-content: center;
    margin-top: 0px;
    color:white;
    font-family: 'Gulzar', cursive;
    margin:10px;
    padding:10px;
    /* align-items: stretch; */
}

#navBar-content {
    display: none;
    position: absolute;
    background-color: white;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

#navBar:hover .navBar-content {
    display: block;
  }

#mainContainer{
    display: grid;
    justify-content: center;
}

#homeBodyContainer{
    background-color: white;
    color: black;
    width: 440px;
    height: 300px;
    /* width: 660px;
    height:450px; */
    border-radius: 5px;
}
#imageContainer{
  color: white;
  position:absolute;
}
#bottomLeft{
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 20px;
  font-family:"Gulzar", cursive;
}
#bottomLeftRed{
  position: absolute;
  color:red;
  bottom: 1px;
  right: 11px;
  font-size: 20px;
  font-family:"Gulzar", cursive;
}

.randomImgContainer{
  width:440px;
  height:300px;
}



hr{
    color:red;
    width: 100%;
    background-color: red;
    border:1px solid red;
    margin-top: 2vh;
}

footer{
    background-color: black;
    color: white;
    font-family: 'Gulzar', cursive;
    font-size: 24px;
    height: 30px;
    padding-top: 0px;
    display: inline;
    text-align: center;
    
    word-spacing: 30px;
  }

  /* this is where the reservation page starts */

  #formContainer{
    display: flex;
    justify-content: center;
    background-color:white;
    width: 440px;
    height: 300px;
    line-height: 140%;
  }

  #cssFormContainer{
    text-align: center;
    margin-top: 1vh;
    background-color:black;
    color:white;
    height:280px;
    width:420px;
    padding:5px;
  }
  #last-name{
    margin:10px;
  }
  #number-people{
    margin:10px;
  }
  #time{
    margin-top:10px;
    margin-left: 10px;
    margin-right: 10px;
}
  #date{
    padding-bottom: -2vh;
    background-color: white;
    margin-left:10px;
    margin-right:10px;
  }
  #submit-button{
    margin:20px;
    font-size:10px;
    border: 2px solid red;
    background-color:black;
    color:white;
  }

  /* this is where the menu stuff is MENU MENU MENU */

  
  #buttonRow{
    display: flex;
    background-color:white;
    justify-content: space-evenly;
  }
  .button{
    font-family: 'Gulzar', cursive;
    text-decoration: none;
    /* background-color: white; */
    background-color: rgb(230, 225, 225);

    border: solid 1px rgb(230, 225, 225);
    width: 25%;
  }
  #menuContainer{
    background-color: rgb(230, 225, 225);
    height: 87%;
    overflow:auto;
    line-height: 200%;
  
  }
  #menuLogo{
    background-color: black;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;

  }

  /* #cocktailDiv{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
  } */
  /* .menuLogoBox{
    width: 100%;
    background-color: black;
    height: 100%;
    margin-top: 10vh;
   
} */
/* SCROLL BAR SCROLL BAR SCROLL BAR SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(246, 3, 3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* user data user data user data user data */
#userDataTable{
  border: 5px;
}



/* about me about me about me about me about me */
#historyDiv{
background-color:black;
color: white;
border: solid white 2px;
padding: 5px;
text-align:justify;
font-size:12px;
font-family:"Gulzar", cursive;
}
#contactDiv{
  background-color:black;
  color: white;
  border: solid white 2px;
  padding: 5px;
  text-align:justify;
  font-size:12px;
  font-family:"Gulzar", cursive;}

#linkDiv{
  background-color:black;
  color: white;
  border: solid white 2px;
  padding: 5px;
  text-align:justify;
  font-size:12px;
  font-family:"Gulzar", cursive;
}

#aboutUsContainer{
  background-color: black;
    color: black;
    width: 440px;
    height: 300px;
    border-radius: 5px;
    overflow:auto;
}
#adminButton{
  background-color:black;
  color:white;
  border: 1px solid red;
  font-family: "Guzlar";
}